<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Login</h1>
    <form action="/login" method="post">
        <input type="text" required name="name" placeholder="Enter Your Name">
        <input type="text" value="<%= locals.email %>" required name="email" placeholder="Enter Your Email">
        <input type="password" required name="password" placeholder="Enter Your password">
        <h3><%= locals.message %></h3>
        <button type="submit">Login</button>
    </form>
</body>
</html>